@font-face {
    font-family: Harry Potter;
    src: url(fontface/harry-potter.TTF);
  }
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Roboto:wght@300&display=swap');

body {
    height: auto;
    width: auto;
    margin: 0%;
    padding: 0%;
    display: flex;
    background-color: black;
    background-image: url('bg/l2.jpg');

}





.h1 {
    color: red;
    display: flex;
    margin-left: 8rem;
    padding-left: 10vh;
    margin-top: 5vh;
    letter-spacing: 1px;
    font-size: x-large;
}

.img1 {
    height: 20vh;
    width: 10vh;
    display: flex;
    margin-left: -8vh;
    margin-top: 2vh;
}

.video {
    height: 100vh;
    width: 100vh;
    margin-top: 2%;
    margin-left: -14rem;
    padding-left: -11rem;
    display: flex;
    position: relative;
    overflow: visible;

}

.image {
    height: 300px;
    width: 300px;
    display: flex;
    position: relative;
    padding-left: 100vh;
    margin: 5px;
    margin-top: 0%;
    margin-left: 100px;
    padding: 3rem;
    
}

.image a {
    color: white;
    margin-top: 20rem;
    margin-left: -15rem;
    
}

.half-section {
    margin-top: 130vh;
    margin-left: -020vh;
    

}
